# Entorno de la aplicación: development, testing, production
APP_ENV=development

# Activa el modo debug de la aplicación (true/false)
APP_DEBUG=true

# Nombre de la aplicación
APP_NAME=SwordPHP

# Configuración de la Base de Datos
DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=swordphp
DB_USERNAME=root
DB_PASSWORD=root

#

TEMPLATES_PATH=../templates