:root {
    --fondoPrimario: #050505;
    --fondoSecundario: #090909;
    --fondoTerciario:  #101010;
    --fondoHover: #101010;

    --textoPrimario: #e5e5e5;
    --textoSecundario: #a3a3a3;
    --textoTenue: #737373;


    --acentoPrimario: #3b82f6;
    --acentoHover: #2563eb;

    --exito: #22c55e;
    --advertencia: #f59e0b;
    --error: #ef4444;

    --bordeColor: #181818;
    --borde: 1px solid #181818;

    --fuenteFamilia: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fuenteBase: 13px;
    --fuentePequena: 12px;
    --fuenteGrande: 15px;
}

.bloque {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background: var(--fondoSecundario);
    border-radius: 5px;
    border: var(--borde);
}