/* 
 * Estilos del Sistema de Medios
 * Archivo principal que importa componentes divididos
 * 
 * Estructura:
 * - mediosGrilla.css: Grilla, items, miniaturas, overlays
 * - mediosDetalles.css: Panel lateral, formularios, preview
 */

@import url('./mediosGrilla.css');
@import url('./mediosDetalles.css');
