.disenoPrincipal {
    display: flex;
    min-height: 100vh;
}

.contenidoPrincipal {
    flex: 1;
    margin-left: 240px; /* Width of sidebar */
    padding: 30px;
    background-color: var(--fondoPrimario);
    min-height: 100vh;
}
