.wrapPlugin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: var(--padding-general);
    background: var(--color-fondo-contenido);
    border-radius: var(--radius);
}

.pluginSw_cuerpo-formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wrapPlugin .custom-select-trigger {
    background: #e8e8e8;
    padding: 10px;
}

.wrapPlugin .grupo-formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkboxPluginForm input {
    width: unset;
}

label.checkboxPluginForm {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.pluginSw_cuerpo-formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapPlugin p {
    color: #000000d4;
}

.wrapPlugin .grupo-formulario input,
.wrapPlugin textarea {
    background: #e8e8e8 !important;
    padding: 10px !important;
}
