.wrapPlugin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.pluginSw_cuerpo-formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wrapPlugin .grupo-formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkboxPluginForm input {
    width: unset;
}

label.checkboxPluginForm {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.pluginSw_cuerpo-formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapPlugin .grupo-formulario input,
.wrapPlugin textarea {
    padding: 10px !important;
}

.wrapPlugin .grupo-formulario {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}